body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

#results, #details {
  /* border: 2px solid red; */
  float: left;
  margin: 5px 0px;
  padding:10px 20px 0 10px;
  width: 50%;
  text-align: left;
}

#search {
  /* border: 2px solid blue; */
  padding:20px;
  height:80px;
  text-align: left;
  background-color: azure;
}

#searchGoogle,  #bookShelf {
  margin:5px;
}

.SearchSummary span {
  /* border: 2px solid green; */
  margin: 3px;
  display:block;
}

.SearchSummary {
  float: left;
  display: block;
  margin:10px;
  width: 100%;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: cadetblue;

}

.SearchImg {
  float: left;
  display: block;
  margin:10px;
}


.BookTitle {
  font-weight: bold;
}

.BookAuthor {
  font-style: italic;
}

img {
  object-fit: cover;
}
.sub {
  padding: 5px;
  font-size: 14pt;
  color: cadetblue;
}

.warning{
  color: darkgoldenrod
}

button, input {
  font-size: 12pt;
  color: darkcyan;
  margin:5px;
}
a {
  font-size: 8pt;
}